div.header 
        {
        	text-align: center;
        	background-color: Black;
        	height: 60px;
        	width: 100%;
        	margin: 0 0 30px -8px;
        	padding: 50px 0 0 0;
        	opacity: 0.2;
        	position:fixed;
        	z-index:-1;
            top: 9px;
            left: 8px;
        }
        div.logo{
          text-align: left;
          height: 60px;
          width: 150px;
          margin: 0 0 30px -8px;
          padding: 0 0 0 0;
          position: fixed;
          z-index: 1;
            top: 10px;
            left: 20px;
        }
        
        div.navi 
        {
            color: White;
            width: 100%;
            text-align:center;
            margin: 60px 0 0 0;
            font-family: Segoe UI Black;
            font-size: 16px;
            position:fixed;
            z-index: 2;
        }
        
        ul {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
ul li {
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 0 40px 0 40px;
  cursor: pointer;
  width: 200px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

ul li:hover {
  color: Cyan;
  opacity: .80;
}
ul li ul 
{
    text-align:left;
    padding: 0 0 0 45px;
    position: absolute;
    left: 0;
    width: 200px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}
ul li ul li { 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover {color: Aqua; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
        a {
            color: #fff;
            text-decoration: none;
        }
        
        a:hover {
            color: Aqua;
        }
        
        iframe {
            position: fixed;
            height: 455px;
            width: 1260px;
            top: 120px;
            left: 50px;
        }


